<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.xh.po.Admin">
    <id column="AdminId" jdbcType="INTEGER" property="adminid" />
    <result column="AdminName" jdbcType="VARCHAR" property="adminname" />
    <result column="AdminPic" jdbcType="VARCHAR" property="adminpic" />
    <result column="AdminPwd" jdbcType="VARCHAR" property="adminpwd" />
    <result column="AdminUser" jdbcType="VARCHAR" property="adminuser" />
    <result column="AdminSex" jdbcType="VARCHAR" property="adminsex" />
    <result column="AdminDepart" jdbcType="VARCHAR" property="admindepart" />
    <result column="AdminPhone" jdbcType="VARCHAR" property="adminphone" />
    <result column="AdminGroupId" jdbcType="INTEGER" property="admingroupid" />
    <result column="Admin_A" jdbcType="VARCHAR" property="adminA" />
    <result column="Admin_B" jdbcType="VARCHAR" property="adminB" />
    <result column="Admin_C" jdbcType="VARCHAR" property="adminC" />
  </resultMap>


  <sql id="Base_Column_List">
    AdminId, AdminName, AdminPic, AdminPwd, AdminUser, AdminSex, AdminDepart, AdminPhone,
    AdminGroupId, Admin_A, Admin_B, Admin_C
  </sql>

  <!--//查询一条数据通过id-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from admin
  where AdminId = #{adminid,jdbcType=INTEGER}
</select>

  <!--//查询全部-->
  <select id="selectAdmin"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin
  </select>

  <!--//删除数据通过id-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where AdminId = #{adminid,jdbcType=INTEGER}
  </delete>

  <!--//增加一条数据-->
  <insert id="insert" parameterType="com.xh.po.Admin">
    insert into admin (AdminId, AdminName, AdminPic,
    AdminPwd, AdminUser, AdminSex,
    AdminDepart, AdminPhone, AdminGroupId,
    Admin_A, Admin_B, Admin_C
    )
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpic,jdbcType=VARCHAR},
    #{adminpwd,jdbcType=VARCHAR}, #{adminuser,jdbcType=VARCHAR}, #{adminsex,jdbcType=VARCHAR},
    #{admindepart,jdbcType=VARCHAR}, #{adminphone,jdbcType=VARCHAR}, #{admingroupid,jdbcType=INTEGER},
    #{adminA,jdbcType=VARCHAR}, #{adminB,jdbcType=VARCHAR}, #{adminC,jdbcType=VARCHAR}
    )
  </insert>

  <!--//增加一条数据  属性非空的不加-->
  <insert id="insertSelective" parameterType="com.xh.po.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        AdminId,
      </if>
      <if test="adminname != null">
        AdminName,
      </if>
      <if test="adminpic != null">
        AdminPic,
      </if>
      <if test="adminpwd != null">
        AdminPwd,
      </if>
      <if test="adminuser != null">
        AdminUser,
      </if>
      <if test="adminsex != null">
        AdminSex,
      </if>
      <if test="admindepart != null">
        AdminDepart,
      </if>
      <if test="adminphone != null">
        AdminPhone,
      </if>
      <if test="admingroupid != null">
        AdminGroupId,
      </if>
      <if test="adminA != null">
        Admin_A,
      </if>
      <if test="adminB != null">
        Admin_B,
      </if>
      <if test="adminC != null">
        Admin_C,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpic != null">
        #{adminpic,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null">
        #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="adminuser != null">
        #{adminuser,jdbcType=VARCHAR},
      </if>
      <if test="adminsex != null">
        #{adminsex,jdbcType=VARCHAR},
      </if>
      <if test="admindepart != null">
        #{admindepart,jdbcType=VARCHAR},
      </if>
      <if test="adminphone != null">
        #{adminphone,jdbcType=VARCHAR},
      </if>
      <if test="admingroupid != null">
        #{admingroupid,jdbcType=INTEGER},
      </if>
      <if test="adminA != null">
        #{adminA,jdbcType=VARCHAR},
      </if>
      <if test="adminB != null">
        #{adminB,jdbcType=VARCHAR},
      </if>
      <if test="adminC != null">
        #{adminC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--//修改一条数据  属性非空的不变-->
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.po.Admin">
    update admin
    <set>
      <if test="adminname != null">
        AdminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpic != null">
        AdminPic = #{adminpic,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null">
        AdminPwd = #{adminpwd,jdbcType=VARCHAR},
      </if>
      <if test="adminuser != null">
        AdminUser = #{adminuser,jdbcType=VARCHAR},
      </if>
      <if test="adminsex != null">
        AdminSex = #{adminsex,jdbcType=VARCHAR},
      </if>
      <if test="admindepart != null">
        AdminDepart = #{admindepart,jdbcType=VARCHAR},
      </if>
      <if test="adminphone != null">
        AdminPhone = #{adminphone,jdbcType=VARCHAR},
      </if>
      <if test="admingroupid != null">
        AdminGroupId = #{admingroupid,jdbcType=INTEGER},
      </if>
      <if test="adminA != null">
        Admin_A = #{adminA,jdbcType=VARCHAR},
      </if>
      <if test="adminB != null">
        Admin_B = #{adminB,jdbcType=VARCHAR},
      </if>
      <if test="adminC != null">
        Admin_C = #{adminC,jdbcType=VARCHAR},
      </if>
    </set>
    where AdminId = #{adminid,jdbcType=INTEGER}
  </update>

  <!--//修改一条数据-->
  <update id="updateByPrimaryKey" parameterType="com.xh.po.Admin">
    update admin
    set AdminName = #{adminname,jdbcType=VARCHAR},
    AdminPic = #{adminpic,jdbcType=VARCHAR},
    AdminPwd = #{adminpwd,jdbcType=VARCHAR},
    AdminUser = #{adminuser,jdbcType=VARCHAR},
    AdminSex = #{adminsex,jdbcType=VARCHAR},
    AdminDepart = #{admindepart,jdbcType=VARCHAR},
    AdminPhone = #{adminphone,jdbcType=VARCHAR},
    AdminGroupId = #{admingroupid,jdbcType=INTEGER},
    Admin_A = #{adminA,jdbcType=VARCHAR},
    Admin_B = #{adminB,jdbcType=VARCHAR},
    Admin_C = #{adminC,jdbcType=VARCHAR}
    where AdminId = #{adminid,jdbcType=INTEGER}
  </update>

  <!--//拓展查询admin group表  parameterType="java.lang.Integer"-->
  <select id="queryAdminAndGroup" resultType="com.xh.po.vo.AdminVo" >
    select    a.AdminId adminid, a.AdminName adminname, a.AdminPic adminpic, a.AdminPwd adminpwd, a.AdminUser adminuser, a.AdminSex adminsex, a.AdminDepart admindepart, a.AdminPhone adminphone,
               a.AdminGroupId admingroupid, a.Admin_A adminA, a.Admin_B adminB, a.Admin_C adminC,
               b.AdminGroupName admingroupname
    from admin a
    join admingroup b
    on a.admingroupid = b.admingroupid;
  </select>

   <!--查询各类管理员的人数-->
  <select id="kindOfAdmin" resultType="com.xh.po.vo.kindOfAdmin">
   SELECT CONCAT(AdminGroupName,"(",COUNT(*),")") AS allrloe
   FROM admin a,admingroup b
   WHERE   a.AdminGroupId=b.AdminGroupId
   GROUP BY a.AdminGroupId
  </select>

  <!--通过管理员姓名和性别组合搜索（姓名模糊查询，性别选择男、女、空）-->
  <select id="selectByAdminNameAndSex" resultType="com.xh.po.vo.AdminVo" parameterType="com.xh.po.Admin">
    select    a.AdminId adminid, a.AdminName adminname, a.AdminPic adminpic, a.AdminPwd adminpwd, a.AdminUser adminuser, a.AdminSex adminsex, a.AdminDepart admindepart, a.AdminPhone adminphone,
               a.AdminGroupId admingroupid, a.Admin_A adminA, a.Admin_B adminB, a.Admin_C adminC,
               b.AdminGroupName admingroupname
    FROM admin a,admingroup b
    <where>
      <if test="2>1">
        and a.AdminGroupId=b.AdminGroupId
      </if>
      <if test="adminuser != null and !&quot;&quot;.equals(adminuser.trim())">
        and a.AdminUser like '%' #{adminuser} '%'
      </if>
      <if test="adminsex != null and !&quot;&quot;.equals(adminsex.trim())">
        AND a.AdminSex = #{adminsex}
      </if>
    </where>

  </select>
</mapper>