<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.ColorMapper">
  <resultMap id="BaseResultMap" type="com.xh.po.Color">
    <id column="ColorId" jdbcType="INTEGER" property="colorid" />
    <result column="ColorName" jdbcType="VARCHAR" property="colorname" />
    <result column="ProductId" jdbcType="INTEGER" property="productid" />
    <result column="Color_A" jdbcType="VARCHAR" property="colorA" />
    <result column="Color_B" jdbcType="VARCHAR" property="colorB" />
    <result column="Color_C" jdbcType="VARCHAR" property="colorC" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ColorId, ColorName, ProductId, Color_A, Color_B, Color_C
  </sql>
  <select id="selectByExample" parameterType="com.xh.po.ColorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from color
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from color
    where ColorId = #{colorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from color
    where ColorId = #{colorid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.po.ColorExample">
    delete from color
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.po.Color">
    insert into color (ColorId, ColorName, ProductId, 
      Color_A, Color_B, Color_C
      )
    values (#{colorid,jdbcType=INTEGER}, #{colorname,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}, 
      #{colorA,jdbcType=VARCHAR}, #{colorB,jdbcType=VARCHAR}, #{colorC,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.po.Color">
    insert into color
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="colorid != null">
        ColorId,
      </if>
      <if test="colorname != null">
        ColorName,
      </if>
      <if test="productid != null">
        ProductId,
      </if>
      <if test="colorA != null">
        Color_A,
      </if>
      <if test="colorB != null">
        Color_B,
      </if>
      <if test="colorC != null">
        Color_C,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="colorid != null">
        #{colorid,jdbcType=INTEGER},
      </if>
      <if test="colorname != null">
        #{colorname,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="colorA != null">
        #{colorA,jdbcType=VARCHAR},
      </if>
      <if test="colorB != null">
        #{colorB,jdbcType=VARCHAR},
      </if>
      <if test="colorC != null">
        #{colorC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.po.ColorExample" resultType="java.lang.Long">
    select count(*) from color
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update color
    <set>
      <if test="record.colorid != null">
        ColorId = #{record.colorid,jdbcType=INTEGER},
      </if>
      <if test="record.colorname != null">
        ColorName = #{record.colorname,jdbcType=VARCHAR},
      </if>
      <if test="record.productid != null">
        ProductId = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.colorA != null">
        Color_A = #{record.colorA,jdbcType=VARCHAR},
      </if>
      <if test="record.colorB != null">
        Color_B = #{record.colorB,jdbcType=VARCHAR},
      </if>
      <if test="record.colorC != null">
        Color_C = #{record.colorC,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update color
    set ColorId = #{record.colorid,jdbcType=INTEGER},
      ColorName = #{record.colorname,jdbcType=VARCHAR},
      ProductId = #{record.productid,jdbcType=INTEGER},
      Color_A = #{record.colorA,jdbcType=VARCHAR},
      Color_B = #{record.colorB,jdbcType=VARCHAR},
      Color_C = #{record.colorC,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.po.Color">
    update color
    <set>
      <if test="colorname != null">
        ColorName = #{colorname,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        ProductId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="colorA != null">
        Color_A = #{colorA,jdbcType=VARCHAR},
      </if>
      <if test="colorB != null">
        Color_B = #{colorB,jdbcType=VARCHAR},
      </if>
      <if test="colorC != null">
        Color_C = #{colorC,jdbcType=VARCHAR},
      </if>
    </set>
    where ColorId = #{colorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.po.Color">
    update color
    set ColorName = #{colorname,jdbcType=VARCHAR},
      ProductId = #{productid,jdbcType=INTEGER},
      Color_A = #{colorA,jdbcType=VARCHAR},
      Color_B = #{colorB,jdbcType=VARCHAR},
      Color_C = #{colorC,jdbcType=VARCHAR}
    where ColorId = #{colorid,jdbcType=INTEGER}
  </update>
</mapper>