<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.xh.po.Product">
    <id column="ProductId" jdbcType="INTEGER" property="productid" />
    <result column="ProductTypeId" jdbcType="INTEGER" property="producttypeid" />
    <result column="ProductName" jdbcType="VARCHAR" property="productname" />
    <result column="ProductPrice" jdbcType="DOUBLE" property="productprice" />
    <result column="PictureSizes" jdbcType="VARCHAR" property="picturesizes" />
    <result column="PictureColors" jdbcType="VARCHAR" property="picturecolors" />
    <result column="ProductLookCount" jdbcType="INTEGER" property="productlookcount" />
    <result column="ProductDescribe" jdbcType="VARCHAR" property="productdescribe" />
    <result column="ProductStoreTime" jdbcType="TIMESTAMP" property="productstoretime" />
    <result column="ProductPicture" jdbcType="VARCHAR" property="productpicture" />
    <result column="ProductNew" jdbcType="INTEGER" property="productnew" />
    <result column="ProducthotSale" jdbcType="CHAR" property="producthotsale" />
    <result column="ProductDisabled" jdbcType="CHAR" property="productdisabled" />
    <result column="ProductCredits" jdbcType="CHAR" property="productcredits" />
    <result column="ProductCreateTime" jdbcType="TIMESTAMP" property="productcreatetime" />
    <result column="Product_A" jdbcType="VARCHAR" property="productA" />
    <result column="Product_B" jdbcType="VARCHAR" property="productB" />
    <result column="Product_C" jdbcType="VARCHAR" property="productC" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ProductId, ProductTypeId, ProductName, ProductPrice, PictureSizes, PictureColors, 
    ProductLookCount, ProductDescribe, ProductStoreTime, ProductPicture, ProductNew, 
    ProducthotSale, ProductDisabled, ProductCredits, ProductCreateTime, Product_A, Product_B, 
    Product_C
  </sql>
  <select id="selectByExample" parameterType="com.xh.po.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where ProductId = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where ProductId = #{productid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.po.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.po.Product">
    insert into product (ProductId, ProductTypeId, ProductName, 
      ProductPrice, PictureSizes, PictureColors, 
      ProductLookCount, ProductDescribe, ProductStoreTime, 
      ProductPicture, ProductNew, ProducthotSale, 
      ProductDisabled, ProductCredits, ProductCreateTime, 
      Product_A, Product_B, Product_C
      )
    values (#{productid,jdbcType=INTEGER}, #{producttypeid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, 
      #{productprice,jdbcType=DOUBLE}, #{picturesizes,jdbcType=VARCHAR}, #{picturecolors,jdbcType=VARCHAR}, 
      #{productlookcount,jdbcType=INTEGER}, #{productdescribe,jdbcType=VARCHAR}, #{productstoretime,jdbcType=TIMESTAMP}, 
      #{productpicture,jdbcType=VARCHAR}, #{productnew,jdbcType=INTEGER}, #{producthotsale,jdbcType=CHAR}, 
      #{productdisabled,jdbcType=CHAR}, #{productcredits,jdbcType=CHAR}, #{productcreatetime,jdbcType=TIMESTAMP}, 
      #{productA,jdbcType=VARCHAR}, #{productB,jdbcType=VARCHAR}, #{productC,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.po.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        ProductId,
      </if>
      <if test="producttypeid != null">
        ProductTypeId,
      </if>
      <if test="productname != null">
        ProductName,
      </if>
      <if test="productprice != null">
        ProductPrice,
      </if>
      <if test="picturesizes != null">
        PictureSizes,
      </if>
      <if test="picturecolors != null">
        PictureColors,
      </if>
      <if test="productlookcount != null">
        ProductLookCount,
      </if>
      <if test="productdescribe != null">
        ProductDescribe,
      </if>
      <if test="productstoretime != null">
        ProductStoreTime,
      </if>
      <if test="productpicture != null">
        ProductPicture,
      </if>
      <if test="productnew != null">
        ProductNew,
      </if>
      <if test="producthotsale != null">
        ProducthotSale,
      </if>
      <if test="productdisabled != null">
        ProductDisabled,
      </if>
      <if test="productcredits != null">
        ProductCredits,
      </if>
      <if test="productcreatetime != null">
        ProductCreateTime,
      </if>
      <if test="productA != null">
        Product_A,
      </if>
      <if test="productB != null">
        Product_B,
      </if>
      <if test="productC != null">
        Product_C,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="producttypeid != null">
        #{producttypeid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productprice != null">
        #{productprice,jdbcType=DOUBLE},
      </if>
      <if test="picturesizes != null">
        #{picturesizes,jdbcType=VARCHAR},
      </if>
      <if test="picturecolors != null">
        #{picturecolors,jdbcType=VARCHAR},
      </if>
      <if test="productlookcount != null">
        #{productlookcount,jdbcType=INTEGER},
      </if>
      <if test="productdescribe != null">
        #{productdescribe,jdbcType=VARCHAR},
      </if>
      <if test="productstoretime != null">
        #{productstoretime,jdbcType=TIMESTAMP},
      </if>
      <if test="productpicture != null">
        #{productpicture,jdbcType=VARCHAR},
      </if>
      <if test="productnew != null">
        #{productnew,jdbcType=INTEGER},
      </if>
      <if test="producthotsale != null">
        #{producthotsale,jdbcType=CHAR},
      </if>
      <if test="productdisabled != null">
        #{productdisabled,jdbcType=CHAR},
      </if>
      <if test="productcredits != null">
        #{productcredits,jdbcType=CHAR},
      </if>
      <if test="productcreatetime != null">
        #{productcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="productA != null">
        #{productA,jdbcType=VARCHAR},
      </if>
      <if test="productB != null">
        #{productB,jdbcType=VARCHAR},
      </if>
      <if test="productC != null">
        #{productC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.po.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.productid != null">
        ProductId = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.producttypeid != null">
        ProductTypeId = #{record.producttypeid,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null">
        ProductName = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.productprice != null">
        ProductPrice = #{record.productprice,jdbcType=DOUBLE},
      </if>
      <if test="record.picturesizes != null">
        PictureSizes = #{record.picturesizes,jdbcType=VARCHAR},
      </if>
      <if test="record.picturecolors != null">
        PictureColors = #{record.picturecolors,jdbcType=VARCHAR},
      </if>
      <if test="record.productlookcount != null">
        ProductLookCount = #{record.productlookcount,jdbcType=INTEGER},
      </if>
      <if test="record.productdescribe != null">
        ProductDescribe = #{record.productdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.productstoretime != null">
        ProductStoreTime = #{record.productstoretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productpicture != null">
        ProductPicture = #{record.productpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.productnew != null">
        ProductNew = #{record.productnew,jdbcType=INTEGER},
      </if>
      <if test="record.producthotsale != null">
        ProducthotSale = #{record.producthotsale,jdbcType=CHAR},
      </if>
      <if test="record.productdisabled != null">
        ProductDisabled = #{record.productdisabled,jdbcType=CHAR},
      </if>
      <if test="record.productcredits != null">
        ProductCredits = #{record.productcredits,jdbcType=CHAR},
      </if>
      <if test="record.productcreatetime != null">
        ProductCreateTime = #{record.productcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productA != null">
        Product_A = #{record.productA,jdbcType=VARCHAR},
      </if>
      <if test="record.productB != null">
        Product_B = #{record.productB,jdbcType=VARCHAR},
      </if>
      <if test="record.productC != null">
        Product_C = #{record.productC,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set ProductId = #{record.productid,jdbcType=INTEGER},
      ProductTypeId = #{record.producttypeid,jdbcType=INTEGER},
      ProductName = #{record.productname,jdbcType=VARCHAR},
      ProductPrice = #{record.productprice,jdbcType=DOUBLE},
      PictureSizes = #{record.picturesizes,jdbcType=VARCHAR},
      PictureColors = #{record.picturecolors,jdbcType=VARCHAR},
      ProductLookCount = #{record.productlookcount,jdbcType=INTEGER},
      ProductDescribe = #{record.productdescribe,jdbcType=VARCHAR},
      ProductStoreTime = #{record.productstoretime,jdbcType=TIMESTAMP},
      ProductPicture = #{record.productpicture,jdbcType=VARCHAR},
      ProductNew = #{record.productnew,jdbcType=INTEGER},
      ProducthotSale = #{record.producthotsale,jdbcType=CHAR},
      ProductDisabled = #{record.productdisabled,jdbcType=CHAR},
      ProductCredits = #{record.productcredits,jdbcType=CHAR},
      ProductCreateTime = #{record.productcreatetime,jdbcType=TIMESTAMP},
      Product_A = #{record.productA,jdbcType=VARCHAR},
      Product_B = #{record.productB,jdbcType=VARCHAR},
      Product_C = #{record.productC,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.po.Product">
    update product
    <set>
      <if test="producttypeid != null">
        ProductTypeId = #{producttypeid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        ProductName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productprice != null">
        ProductPrice = #{productprice,jdbcType=DOUBLE},
      </if>
      <if test="picturesizes != null">
        PictureSizes = #{picturesizes,jdbcType=VARCHAR},
      </if>
      <if test="picturecolors != null">
        PictureColors = #{picturecolors,jdbcType=VARCHAR},
      </if>
      <if test="productlookcount != null">
        ProductLookCount = #{productlookcount,jdbcType=INTEGER},
      </if>
      <if test="productdescribe != null">
        ProductDescribe = #{productdescribe,jdbcType=VARCHAR},
      </if>
      <if test="productstoretime != null">
        ProductStoreTime = #{productstoretime,jdbcType=TIMESTAMP},
      </if>
      <if test="productpicture != null">
        ProductPicture = #{productpicture,jdbcType=VARCHAR},
      </if>
      <if test="productnew != null">
        ProductNew = #{productnew,jdbcType=INTEGER},
      </if>
      <if test="producthotsale != null">
        ProducthotSale = #{producthotsale,jdbcType=CHAR},
      </if>
      <if test="productdisabled != null">
        ProductDisabled = #{productdisabled,jdbcType=CHAR},
      </if>
      <if test="productcredits != null">
        ProductCredits = #{productcredits,jdbcType=CHAR},
      </if>
      <if test="productcreatetime != null">
        ProductCreateTime = #{productcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="productA != null">
        Product_A = #{productA,jdbcType=VARCHAR},
      </if>
      <if test="productB != null">
        Product_B = #{productB,jdbcType=VARCHAR},
      </if>
      <if test="productC != null">
        Product_C = #{productC,jdbcType=VARCHAR},
      </if>
    </set>
    where ProductId = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.po.Product">
    update product
    set ProductTypeId = #{producttypeid,jdbcType=INTEGER},
      ProductName = #{productname,jdbcType=VARCHAR},
      ProductPrice = #{productprice,jdbcType=DOUBLE},
      PictureSizes = #{picturesizes,jdbcType=VARCHAR},
      PictureColors = #{picturecolors,jdbcType=VARCHAR},
      ProductLookCount = #{productlookcount,jdbcType=INTEGER},
      ProductDescribe = #{productdescribe,jdbcType=VARCHAR},
      ProductStoreTime = #{productstoretime,jdbcType=TIMESTAMP},
      ProductPicture = #{productpicture,jdbcType=VARCHAR},
      ProductNew = #{productnew,jdbcType=INTEGER},
      ProducthotSale = #{producthotsale,jdbcType=CHAR},
      ProductDisabled = #{productdisabled,jdbcType=CHAR},
      ProductCredits = #{productcredits,jdbcType=CHAR},
      ProductCreateTime = #{productcreatetime,jdbcType=TIMESTAMP},
      Product_A = #{productA,jdbcType=VARCHAR},
      Product_B = #{productB,jdbcType=VARCHAR},
      Product_C = #{productC,jdbcType=VARCHAR}
    where ProductId = #{productid,jdbcType=INTEGER}
  </update>
</mapper>