<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.TransportMapper">
  <resultMap id="BaseResultMap" type="com.xh.po.Transport">
    <id column="TransportId" jdbcType="INTEGER" property="transportid" />
    <result column="TransportName" jdbcType="VARCHAR" property="transportname" />
    <result column="TransportImg" jdbcType="VARCHAR" property="transportimg" />
    <result column="Transport_A" jdbcType="VARCHAR" property="transportA" />
    <result column="Transport_B" jdbcType="VARCHAR" property="transportB" />
    <result column="Transport_C" jdbcType="VARCHAR" property="transportC" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TransportId, TransportName, TransportImg, Transport_A, Transport_B, Transport_C
  </sql>
  <select id="selectByExample" parameterType="com.xh.po.TransportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transport
    where TransportId = #{transportid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transport
    where TransportId = #{transportid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.po.TransportExample">
    delete from transport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.po.Transport">
    insert into transport (TransportId, TransportName, TransportImg, 
      Transport_A, Transport_B, Transport_C
      )
    values (#{transportid,jdbcType=INTEGER}, #{transportname,jdbcType=VARCHAR}, #{transportimg,jdbcType=VARCHAR}, 
      #{transportA,jdbcType=VARCHAR}, #{transportB,jdbcType=VARCHAR}, #{transportC,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.po.Transport">
    insert into transport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transportid != null">
        TransportId,
      </if>
      <if test="transportname != null">
        TransportName,
      </if>
      <if test="transportimg != null">
        TransportImg,
      </if>
      <if test="transportA != null">
        Transport_A,
      </if>
      <if test="transportB != null">
        Transport_B,
      </if>
      <if test="transportC != null">
        Transport_C,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transportid != null">
        #{transportid,jdbcType=INTEGER},
      </if>
      <if test="transportname != null">
        #{transportname,jdbcType=VARCHAR},
      </if>
      <if test="transportimg != null">
        #{transportimg,jdbcType=VARCHAR},
      </if>
      <if test="transportA != null">
        #{transportA,jdbcType=VARCHAR},
      </if>
      <if test="transportB != null">
        #{transportB,jdbcType=VARCHAR},
      </if>
      <if test="transportC != null">
        #{transportC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.po.TransportExample" resultType="java.lang.Long">
    select count(*) from transport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transport
    <set>
      <if test="record.transportid != null">
        TransportId = #{record.transportid,jdbcType=INTEGER},
      </if>
      <if test="record.transportname != null">
        TransportName = #{record.transportname,jdbcType=VARCHAR},
      </if>
      <if test="record.transportimg != null">
        TransportImg = #{record.transportimg,jdbcType=VARCHAR},
      </if>
      <if test="record.transportA != null">
        Transport_A = #{record.transportA,jdbcType=VARCHAR},
      </if>
      <if test="record.transportB != null">
        Transport_B = #{record.transportB,jdbcType=VARCHAR},
      </if>
      <if test="record.transportC != null">
        Transport_C = #{record.transportC,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transport
    set TransportId = #{record.transportid,jdbcType=INTEGER},
      TransportName = #{record.transportname,jdbcType=VARCHAR},
      TransportImg = #{record.transportimg,jdbcType=VARCHAR},
      Transport_A = #{record.transportA,jdbcType=VARCHAR},
      Transport_B = #{record.transportB,jdbcType=VARCHAR},
      Transport_C = #{record.transportC,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.po.Transport">
    update transport
    <set>
      <if test="transportname != null">
        TransportName = #{transportname,jdbcType=VARCHAR},
      </if>
      <if test="transportimg != null">
        TransportImg = #{transportimg,jdbcType=VARCHAR},
      </if>
      <if test="transportA != null">
        Transport_A = #{transportA,jdbcType=VARCHAR},
      </if>
      <if test="transportB != null">
        Transport_B = #{transportB,jdbcType=VARCHAR},
      </if>
      <if test="transportC != null">
        Transport_C = #{transportC,jdbcType=VARCHAR},
      </if>
    </set>
    where TransportId = #{transportid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.po.Transport">
    update transport
    set TransportName = #{transportname,jdbcType=VARCHAR},
      TransportImg = #{transportimg,jdbcType=VARCHAR},
      Transport_A = #{transportA,jdbcType=VARCHAR},
      Transport_B = #{transportB,jdbcType=VARCHAR},
      Transport_C = #{transportC,jdbcType=VARCHAR}
    where TransportId = #{transportid,jdbcType=INTEGER}
  </update>
</mapper>