<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xh.po.User">
    <id column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="UserPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="UserSex" jdbcType="VARCHAR" property="usersex" />
    <result column="UserRealName" jdbcType="VARCHAR" property="userrealname" />
    <result column="UserPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="UserBirthday" jdbcType="DATE" property="userbirthday" />
    <result column="UserAddress" jdbcType="VARCHAR" property="useraddress" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="CreditsCore" jdbcType="INTEGER" property="creditscore" />
    <result column="UserInputDate" jdbcType="DATE" property="userinputdate" />
    <result column="UserZip" jdbcType="INTEGER" property="userzip" />
    <result column="UserLoginCount" jdbcType="INTEGER" property="userlogincount" />
    <result column="UserLoginTime" jdbcType="TIMESTAMP" property="userlogintime" />
    <result column="User_A" jdbcType="VARCHAR" property="userA" />
    <result column="User_B" jdbcType="VARCHAR" property="userB" />
    <result column="User_C" jdbcType="VARCHAR" property="userC" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UserId, UserName, UserPwd, UserSex, UserRealName, UserPhone, UserBirthday, UserAddress, 
    UserEmail, CreditsCore, UserInputDate, UserZip, UserLoginCount, UserLoginTime, User_A, 
    User_B, User_C
  </sql>
  <select id="selectByExample" parameterType="com.xh.po.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where UserId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where UserId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xh.po.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xh.po.User">
    insert into user (UserId, UserName, UserPwd, 
      UserSex, UserRealName, UserPhone, 
      UserBirthday, UserAddress, UserEmail, 
      CreditsCore, UserInputDate, UserZip, 
      UserLoginCount, UserLoginTime, User_A, 
      User_B, User_C)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{usersex,jdbcType=VARCHAR}, #{userrealname,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, 
      #{userbirthday,jdbcType=DATE}, #{useraddress,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, 
      #{creditscore,jdbcType=INTEGER}, #{userinputdate,jdbcType=DATE}, #{userzip,jdbcType=INTEGER}, 
      #{userlogincount,jdbcType=INTEGER}, #{userlogintime,jdbcType=TIMESTAMP}, #{userA,jdbcType=VARCHAR}, 
      #{userB,jdbcType=VARCHAR}, #{userC,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xh.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        UserId,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="userpwd != null">
        UserPwd,
      </if>
      <if test="usersex != null">
        UserSex,
      </if>
      <if test="userrealname != null">
        UserRealName,
      </if>
      <if test="userphone != null">
        UserPhone,
      </if>
      <if test="userbirthday != null">
        UserBirthday,
      </if>
      <if test="useraddress != null">
        UserAddress,
      </if>
      <if test="useremail != null">
        UserEmail,
      </if>
      <if test="creditscore != null">
        CreditsCore,
      </if>
      <if test="userinputdate != null">
        UserInputDate,
      </if>
      <if test="userzip != null">
        UserZip,
      </if>
      <if test="userlogincount != null">
        UserLoginCount,
      </if>
      <if test="userlogintime != null">
        UserLoginTime,
      </if>
      <if test="userA != null">
        User_A,
      </if>
      <if test="userB != null">
        User_B,
      </if>
      <if test="userC != null">
        User_C,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="userrealname != null">
        #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userbirthday != null">
        #{userbirthday,jdbcType=DATE},
      </if>
      <if test="useraddress != null">
        #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="creditscore != null">
        #{creditscore,jdbcType=INTEGER},
      </if>
      <if test="userinputdate != null">
        #{userinputdate,jdbcType=DATE},
      </if>
      <if test="userzip != null">
        #{userzip,jdbcType=INTEGER},
      </if>
      <if test="userlogincount != null">
        #{userlogincount,jdbcType=INTEGER},
      </if>
      <if test="userlogintime != null">
        #{userlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="userA != null">
        #{userA,jdbcType=VARCHAR},
      </if>
      <if test="userB != null">
        #{userB,jdbcType=VARCHAR},
      </if>
      <if test="userC != null">
        #{userC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xh.po.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.userid != null">
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userpwd != null">
        UserPwd = #{record.userpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.usersex != null">
        UserSex = #{record.usersex,jdbcType=VARCHAR},
      </if>
      <if test="record.userrealname != null">
        UserRealName = #{record.userrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        UserPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.userbirthday != null">
        UserBirthday = #{record.userbirthday,jdbcType=DATE},
      </if>
      <if test="record.useraddress != null">
        UserAddress = #{record.useraddress,jdbcType=VARCHAR},
      </if>
      <if test="record.useremail != null">
        UserEmail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.creditscore != null">
        CreditsCore = #{record.creditscore,jdbcType=INTEGER},
      </if>
      <if test="record.userinputdate != null">
        UserInputDate = #{record.userinputdate,jdbcType=DATE},
      </if>
      <if test="record.userzip != null">
        UserZip = #{record.userzip,jdbcType=INTEGER},
      </if>
      <if test="record.userlogincount != null">
        UserLoginCount = #{record.userlogincount,jdbcType=INTEGER},
      </if>
      <if test="record.userlogintime != null">
        UserLoginTime = #{record.userlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userA != null">
        User_A = #{record.userA,jdbcType=VARCHAR},
      </if>
      <if test="record.userB != null">
        User_B = #{record.userB,jdbcType=VARCHAR},
      </if>
      <if test="record.userC != null">
        User_C = #{record.userC,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set UserId = #{record.userid,jdbcType=INTEGER},
      UserName = #{record.username,jdbcType=VARCHAR},
      UserPwd = #{record.userpwd,jdbcType=VARCHAR},
      UserSex = #{record.usersex,jdbcType=VARCHAR},
      UserRealName = #{record.userrealname,jdbcType=VARCHAR},
      UserPhone = #{record.userphone,jdbcType=VARCHAR},
      UserBirthday = #{record.userbirthday,jdbcType=DATE},
      UserAddress = #{record.useraddress,jdbcType=VARCHAR},
      UserEmail = #{record.useremail,jdbcType=VARCHAR},
      CreditsCore = #{record.creditscore,jdbcType=INTEGER},
      UserInputDate = #{record.userinputdate,jdbcType=DATE},
      UserZip = #{record.userzip,jdbcType=INTEGER},
      UserLoginCount = #{record.userlogincount,jdbcType=INTEGER},
      UserLoginTime = #{record.userlogintime,jdbcType=TIMESTAMP},
      User_A = #{record.userA,jdbcType=VARCHAR},
      User_B = #{record.userB,jdbcType=VARCHAR},
      User_C = #{record.userC,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.po.User">
    update user
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        UserPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null">
        UserSex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="userrealname != null">
        UserRealName = #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        UserPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userbirthday != null">
        UserBirthday = #{userbirthday,jdbcType=DATE},
      </if>
      <if test="useraddress != null">
        UserAddress = #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        UserEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="creditscore != null">
        CreditsCore = #{creditscore,jdbcType=INTEGER},
      </if>
      <if test="userinputdate != null">
        UserInputDate = #{userinputdate,jdbcType=DATE},
      </if>
      <if test="userzip != null">
        UserZip = #{userzip,jdbcType=INTEGER},
      </if>
      <if test="userlogincount != null">
        UserLoginCount = #{userlogincount,jdbcType=INTEGER},
      </if>
      <if test="userlogintime != null">
        UserLoginTime = #{userlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="userA != null">
        User_A = #{userA,jdbcType=VARCHAR},
      </if>
      <if test="userB != null">
        User_B = #{userB,jdbcType=VARCHAR},
      </if>
      <if test="userC != null">
        User_C = #{userC,jdbcType=VARCHAR},
      </if>
    </set>
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.po.User">
    update user
    set UserName = #{username,jdbcType=VARCHAR},
      UserPwd = #{userpwd,jdbcType=VARCHAR},
      UserSex = #{usersex,jdbcType=VARCHAR},
      UserRealName = #{userrealname,jdbcType=VARCHAR},
      UserPhone = #{userphone,jdbcType=VARCHAR},
      UserBirthday = #{userbirthday,jdbcType=DATE},
      UserAddress = #{useraddress,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      CreditsCore = #{creditscore,jdbcType=INTEGER},
      UserInputDate = #{userinputdate,jdbcType=DATE},
      UserZip = #{userzip,jdbcType=INTEGER},
      UserLoginCount = #{userlogincount,jdbcType=INTEGER},
      UserLoginTime = #{userlogintime,jdbcType=TIMESTAMP},
      User_A = #{userA,jdbcType=VARCHAR},
      User_B = #{userB,jdbcType=VARCHAR},
      User_C = #{userC,jdbcType=VARCHAR}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>