<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.pojo.MessageMapper">

    <!--查询出评价的id，商品的名称和平均好评度-->
    <select id="selectCommentRate" resultType="com.xh.po.vo.CommentRate">
            SELECT c.CommentId,p.ProductName, sum(c.GoodComment)/count(c.GoodComment)
            FROM product p JOIN comment c
            ON (p.ProductId=c.ProductId)
            GROUP BY ProductName
    </select>


</mapper>