.result-list{
    top: 20%;
    left: 10%;
    display: none;
    position: fixed;
    width: 80%;
    height: 100%;
    border: 0px #008FDD solid;
    z-index: 9998;
}
/*搜索结果*/
.product_center{
    overflow: scroll;
    width: 1200px;
    height: 700px;
    margin: 0px auto;
}
.product_list{
    float: left;
    margin: 10px;
    border: 0px #FFFFCC solid;
    border-radius: 5%;
    padding: 20px;
    width: 170px;
    height: 260px;
    box-shadow: 0px 0px 15px 5px #AAAAAA;
    background-color: rgba(0,0,0,0.1);
    z-index: 9999;
}
.product_list:hover{
    box-shadow: 0px 0px 15px 5px #FFFFFF;
}
.product_list img{
    margin: 0px auto;
    width: auto;
    height: 170px;
    filter:alpha(opacity=0.9);
    border-radius: 5%;
    opacity:0.9;
}
.product_name{
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    color: #F2F0F1;
    text-shadow:5px 2px 6px #000;
    width: 150px;
    height: 40px;
    text-overflow:ellipsis;
}
.product_price{
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 30px;
    text-shadow:5px 2px 6px #000;
}
.product_price em{
    color: #f0323f;
    text-shadow:5px 2px 6px #000;
}

/*Loading*/
.loading{
    display: none;
    position: fixed;
    width: 250px;
    height: 500px;
    top:10%;
    left: 45%;
    z-index: 10000;
}

/*结果建议*/
.result-suggest{
    display: none;
    position: fixed;
    width: 450px;
    height: 150px;
    margin-top: 80px;
}
.result-suggest ul{
    width: 390px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}
.result-suggest li {
    width: 390px;
    height: 25px;
    font-size: 18px;
    color: #F2F0F1;
    background-color: rgba(0,0,0,0.4);
}


/*弹幕*/
/*.barrage{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}
.barrage_body{
    margin: 10% auto;
    width: 100%;
    height:300px;
    background-color: rgba(20,20,20,0.8);
    z-index: 99999999999;
}*/
