@charset "utf-8";
.indent {
	background-color: #FFF;
	padding: 15px;
}
#banner {
	margin-bottom: 30px;
}
.content_title {
	font-size: 16px;
	margin-bottom: 15px;
	font-style: italic;
	color: #FF9346;
	font-weight: normal;
}
.rec_list {
}
.rec_list li {
	float: left;
	height: 225px;
	width: 580px;
	margin-right: 10px;
	margin-bottom: 25px;
	transition-duration: 0.5s;
	transition-property: box-shadow;
	margin-left: 10px;
	background-color: white;
}
.rec_list li:hover {
	-webkit-box-shadow: #CCC 0px 0px 15px;
    -moz-box-shadow: #CCC 0px 0px 15px;
    box-shadow: #CCC 0px 0px 15px;
}
.rec_list li:hover img {
	opacity: 1;
}
.rec_pic {
	height: 225px;
	width: 360px;
	float:left;
	overflow:hidden;
}
.rec_pic img {
	height: 220px;
	width:225px;
	opacity: 0.9;
	margin-left: 65px;
	margin-top: 6px;

}
.rec_box {
	background-color: #e0e0e0;
	opacity: 0.6;
	float: left;
	height: 200px;
	width: 200px;
	padding-top: 25px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}
.rec_title {
	font-size: 14px;
	color: #000;
	text-align: center;
	height: 75px;
	margin-top: 30px;
}
.rec_title a {
	color: #000;
}
.rec_title a:hover {
	color: #FF9346;
}
dl.screening {
	line-height: 22px;
	font-size: 14px;
	padding-left: 10px;
}
dl.screening dt {
	min-height: 22px;
	float: left;
	width: 60px;
	margin-bottom: 10px;
}
dl.screening dd {
	min-height: 22px;
	float: left;
	width: 1120px;
	margin-bottom: 10px;
}
dl.screening dd a {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
	display: inline-block;
	color: #FF9346;
	transition: all 0s ease-in-out;
}
dl.screening dd a:hover {
	color: #FFFFFF;
	background-color: #FFDD31;
}
dl.screening dd a.select {
	color: #FFFFFF;
	background-color: #FFDD31;
}

.filter {
	line-height: 42px;
	background-color: #FFF;
	height: 42px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

.filter span {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
.filter span:hover .filter_up {
	background-position: right bottom;
}
.filter span:hover .filter_down {
	background-position: left bottom;
}
.filter span.select .filter_up {
	background-position: right bottom;
}
.filter span.select .filter_down {
	background-position: left bottom;
}
.filter span.select a {
	color: #FFBB31;
}
.filter i {
	font-style: normal;
}
.filter_input {
    border: 1px solid #ebebeb;
    height: 16px;
    line-height: 16px;
    padding: 2px 5px;
    width: 43px;
}
.filter_btn {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    height: 22px;
    line-height: 22px;
    margin-left: 5px;
    padding: 0 10px;
	display: inline-block;
	transition: all 0s ease-in-out;
}
.filter_up {
	background-repeat: no-repeat;
	background-position: right top;
	height: 11px;
	width: 7px;
	display: inline-block;
}
.filter_down {
	background-repeat: no-repeat;
	background-position: left top;
	height: 11px;
	width: 7px;
	display: inline-block;
}

.goods_list {
	margin-bottom:20px;
}

.goods_list li {
	float: left;
	height: 400px;
	width: 298px;
	margin-right: 1px;
	margin-left: 1px;
	background-color: #FFF;
	font-size: 14px;
	position: relative;
	transition-duration:0.5s;
	transition-property:box-shadow;
	margin-bottom:20px;
}
.goods_list li:hover {
	z-index: 1;
	-webkit-box-shadow: #CCC 0px 0px 15px;
    -moz-box-shadow: #CCC 0px 0px 15px;
    box-shadow: #CCC 0px 0px 15px;
}
.goods_list li:hover img {
	opacity: 1;
}
.goods_pic {
	height: 298px;
	width: 298px;
	margin-bottom: 10px;
	overflow: hidden;
}
.goods_pic img {
	height: 298px;
	width: 298px;
	opacity: 0.9;
}
.goods_title {
	text-align: center;
	width: 270px;
	margin-bottom: 10px;
	padding-right: 14px;
	padding-left: 14px;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
.goods_price {
	color: #CCC;
	margin-left: 15px;
}

.goods_tag {
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
	background-color: #FFBB31;
	background-image: url(../images/wares_tag_bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 30px;
	width: 200px;
	padding-left: 15px;
	position: absolute;
	left: 0px;
	bottom: 10px;
}
.goods_list2 {
	margin-bottom:20px;
}
.goods_list2 li {
	float: left;
	height: 380px;
	width: 280px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #FFF;
	font-size: 14px;
	position: relative;
	transition-duration:0.5s;
	transition-property:box-shadow;
	margin-bottom:20px;
}
.goods_list2.h320 li {
	height: 370px;
}
.goods_list2 li:hover {
	z-index: 1;
	-webkit-box-shadow: #CCC 0px 0px 15px;
    -moz-box-shadow: #CCC 0px 0px 15px;
    box-shadow: #CCC 0px 0px 15px;
}
.goods_list2 li:hover img {
	opacity: 1;
}
.goods_pic2 {
	height: 280px;
	width: 280px;
	margin-bottom: 10px;
	overflow: hidden;
}
.goods_pic2 img {
	height: 225px;
	width: 220px;
	margin-top: 30px;
	margin-left: 30px;
	opacity: 0.9;
}
.goods_title2 {
	text-align: center;
	width: 260px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
.goods_price2 {
	color: #CCC;
	margin-left: 15px;
}

.goods_tag2 {
	font-size: 18px;
	line-height: 30px;
	color: #FFF;
	background-color: #FFBB31;
	background-image: url(../images/wares_tag_bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 30px;
	width: 200px;
	padding-left: 15px;
	position: absolute;
	left: 0px;
	bottom: 10px;
}
/*detail.html*/
.detail_box {
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	margin-bottom: 30px;
}
.detail_box2 {
	border: 1px solid #E0E0E0;
	background-color: #FFF;
}
.detail_fl {
	float: left;
	width: 340px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E0E0E0;
	padding: 10px;
}
.detail_fr {
	float: right;
	width: 797px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E0E0E0;
	margin-left: -1px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.detail_title {
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
}
.select_list li {
	line-height: 24px;
	height: 24px;
	padding-right: 8px;
	padding-left: 8px;
	border: 1px solid #BFBFBF;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
.select_list li.dashed {
	border: 1px dashed #BFBFBF;
}
.select_list li.dashed:hover {
	border: 1px dashed #BFBFBF;
}
.select_list li.dashed.active {
	border: 1px dashed #BFBFBF;
}
.select_list li:hover {
	border: 1px solid #FFBB31;
}
.select_list li.active {
	border: 1px solid #FFBB31;
}

.promotion {
	display: inline-block;
	width: 700px;
	line-height: 20px;
	position: relative;
}
.promotion dt {
	float: left;
	width: 40px;
	min-height: 20px;
	margin-right: 10px;
	margin-bottom:5px;
}
.promotion dd {
	float:left;
	width:650px;
	min-height:20px;
	margin-bottom:5px;
}
.promotion_name {
	display: inline-block;
	width: 40px;
	color: #FFF;
	background-color: #FF875A;
	text-align: center;
}
.promotion_box {
	width: 710px;
	border: 1px solid #EAEAEA;
	min-height: 20px;
	max-height: 200px;
	overflow: hidden;
	position: absolute;
	left: -6px;
	top: -6px;
	background-color: #FFF;
	display: none;
}
.promotion_title {
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	padding: 5px;
}
.promotion_gift li {
	float: left;
	margin-right: 10px;
	width: 88px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	padding: 5px;
}
.promotion_gift li:hover {
	outline: 1px solid #FFBB31;
}
.promotion_gift li.active {
	outline: 1px solid #FFBB31;
}
.promotion_gift li img {
	border: 1px solid #EAEAEA;
}
.parameter table th {
	border: 1px solid #e6e6e6;
}
.parameter table td {
	border: 1px solid #e6e6e6;
}
.review {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
}
.review_num {
	float: left;
	padding: 10px;
	width: 200px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E0E0E0;
	height: 58px;
	margin-right: 40px;
	margin-left: 20px;
}
.review_list {
	padding: 15px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E0E0E0;
	height: 48px;
	margin-right: 40px;
}
.review_list li {
	float: left;
	margin-right: 30px;
	width: 140px;
}
.review_list2 li {
	background-color: #F6F6F6;
	padding: 10px;
	margin-bottom: 10px;
}
.review_text {
	float: left;
	padding: 15px;
	height: 48px;
}
.travel_title {
	font-size: 16px;
	margin-bottom: 15px;
	color: #FF9346;
	font-weight: normal;
	padding-left: 30px;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFBB31;
	padding-bottom: 5px;
	line-height: 24px;
}
.travel_title a {
	padding-left:5px;
	padding-right:5px;
}
.travel_title .link {
	font-size: 12px;
	font-weight: normal;
	color: #7B7B7B;
	float: right;
}
.travel_icon {
	height: 24px;
	width: 24px;
	margin-top: -15px;
	position: absolute;
	left: 0px;
	top: 50%;
	background-image: url(../images/travel_icon.png);
	background-repeat: no-repeat;
}
.travel_icon.tjy {
	background-position: 0px 0px;
}
.travel_icon.zyx {
	background-position: -24px 0px;
}
.travel_icon.zby {
	background-position: -48px 0px;
}
.travel_link {
	margin-left: -560px;
	position: absolute;
	left: 50%;
	bottom: 105px;
	height: 62px;
	width: 189px;
	opacity: 0.9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.travel_link:hover {
	opacity: 1;
}
.travel_link2 {
	margin-left: -270px;
	position: absolute;
	left: 50%;
	bottom: 105px;
	height: 62px;
	width: 189px;
	opacity: 0.9;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.travel_link2:hover {
	opacity: 1;
}

.cart_pic {
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 10px;
}
.cart_text {
	text-align: left;
	float: left;
	padding-top: 5px;
	max-width: 300px;
}
.cart_text p {
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
.cart_title {
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 28px;
	height: 28px;
}
.cart_title .cn {
	font-style: italic;
	color: #FF9346;
	position: relative;
}
.cart_title .cn:after {
	content: "";
	background-image: url(../images/top_title_mask.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 27px;
	width: 28px;
	position: absolute;
	top: 0px;
	right: -18px;
	z-index: 1;
}
.cart_title .en {
	margin-left: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	color: #999;
}
.i_del {
	background-repeat: no-repeat;
	background-position: left center;
	height: 19px;
	width: 18px;
	display: inline-block;
}

ul.order_title {
	background-repeat: no-repeat;
	background-position: center 13px;
	width: 780px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
ul.order_title.o2 {
}
ul.order_title.o3 {
}
ul.order_title li {
	float: left;
	height: 60px;
	width: 33.33%;
	text-align: center;
	font-size: 16px;
}
ul.order_title li i {
	font-size: 20px;
	line-height: 30px;
	background-color: #EAEAEA;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-style: normal;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #CCC;
	margin-bottom: 5px;
}
ul.order_title li i.on {
	background-color: #45BDFF;
	color: #FFF;
}

.order_box {
	background-color: #FFF;
	padding: 15px;
	font-size: 14px;
	line-height: 2em;
	margin-bottom: 15px;
}

.flight_title {
	font-size: 16px;
	color: #FF9346;
	font-weight: normal;
	padding-left: 30px;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFBB31;
	padding-bottom: 5px;
	line-height: 24px;
}
.flight_icon {
	height: 20px;
	width: 20px;
	margin-top: -12px;
	position: absolute;
	left: 0px;
	top: 50%;
	background-image: url(../images/flight_icon.png);
	background-repeat: no-repeat;
}
.i_return {
	background-repeat: no-repeat;
	display: block;
	height: 28px;
	width: 65px;
	margin-right: auto;
	margin-left: auto;
	background-position: center center;
}
.allweb_box {
	float:left;
	width:750px;
}
.allweb_pic {
	float:left;
	width:370px;
	margin-top: 20px;
}

#juban-apply {
	background-repeat: no-repeat;
	background-position: center top;
	height: 1360px;
}
#juban-apply .pic {
	padding-top: 50px;
	margin-bottom: 20px;
}
#juban-apply .box {
	background-color: #FFF;
	padding: 15px 25px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #FF641A;
}
#juban-apply h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCDCD;
	padding-bottom: 12px;
}
#juban-apply .top-title {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: 36px;
	color: #333;
}
#juban-apply .top-title .en {
	color: #FFF;
	background-color: #FF6319;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 22px;
	margin-left: 10px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#juban-apply .btn2 {
	font-size: 18px;
	color: #FFF;
	background-color: #DD4957;
	height: 46px;
	width: 260px;
	border: none;
}
#juban-apply .btn2:hover {
	background-color: #D82E3F;
}
#juban-apply .btn-verify {
	height: 42px;
	padding: 0 2px;
	border: 1px solid #CCC;
	background: #FFF;
	cursor: pointer;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#E4E4E4));
    background: -webkit-linear-gradient(#FFF, #E4E4E4);
    background: -moz-linear-gradient(#FFF, #E4E4E4);
    background: -ms-linear-gradient(#FFF, #E4E4E4);
    background: -o-linear-gradient(#FFF, #E4E4E4);
    background: linear-gradient(#FFF, #E4E4E4);
    -pie-background: linear-gradient(#FFF, #E4E4E4);
}
#juban-apply .btn-verify:active {
	background: #EEE;
	border: 1px solid #BBB;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEE), to(#DDD));
    background: -webkit-linear-gradient(#EEE, #DDD);
    background: -moz-linear-gradient(#EEE, #DDD);
    background: -ms-linear-gradient(#EEE, #DDD);
    background: -o-linear-gradient(#EEE, #DDD);
    background: linear-gradient(#EEE, #DDD);
    -pie-background: linear-gradient(#EEE, #DDD);
}
#juban-apply .input2 {
	line-height: 40px;
	height: 40px;
	width: 98%;
	border: 1px solid #CCC;
	font-family: "微软雅黑";
	padding-right: 1%;
	padding-left: 1%;
	color: #666;
}
#juban-apply .input2:hover {
	border: 1px solid #BBB;
}
#juban-apply .input2:focus {
	border: 1px solid #AAA;
}
#juban-apply .input2.s1 {
	width: 120px;
}
#juban-apply .input2.s2 {
	width: 160px;
}

#juban-apply .table1 th {
	padding: 10px 5px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	line-height: 42px;
}
#juban-apply .table1 td {
	padding: 10px 5px;
	vertical-align: top;
	line-height: 200%;
}
#juban-apply .select1 {
	min-width: 100px;
	line-height: 42px;
	padding-right: 5px;
	height: 42px;
	font-size: 14px;
	border: 1px solid #CCC;
	font-family: "微软雅黑";
}
#juban-apply .select1:hover {
	border: 1px solid #BBB;
}

.pocket_banner {
	background-repeat: no-repeat;
	background-position: center top;
	height: 1085px;
	position:relative;
}
.pocket_pic {
	background-repeat: no-repeat;
	background-position: center top;
	height: 914px;
}
.pocket_pic2 {
	background-repeat: no-repeat;
	background-position: center top;
	height: 678px;
}
.pocket_pic3 {
	background-repeat: no-repeat;
	background-position: center top;
	height: 1273px;
}
.pocket_btn {
	display:block;
	position:absolute;
	bottom:120px;
	left:50%;
	margin-left:-100px;
	width: 210px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 28px;
	color: #FFF!important;
	letter-spacing: 4px;
	background-color: #FF641A;
	border: 3px solid #FFF;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.pocket_btn:hover {
	background-color: #F75000;
}
.pocket_box {
	width: 480px;
	position: absolute;
	bottom: 200px;
	left: 50%;
	margin-left: -232px;
	background-color: #fff;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.pocket_form {
	/*background-color: #FFF;*/
	height: 64px;
	width: 460px;
	line-height: 64px;
	padding-left: 20px;
	font-size: 22px;
	position:relative;
	border-top:solid 2px #DDD;
}
.pocket_form:first-child {
	border-top:none;
}
.pocket_form input {
	line-height: 64px;
	height: 64px;
	width: 340px;
	border: none;
	font-family: "微软雅黑";
	font-size: 18px;
	vertical-align: top;
}
.pocket_form .labw {
	display:inline-block; 
    line-height: 64px;
    text-align: right;
    width: 70px;
	color: #333;
}
.pocket_form .del {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -12px;
	cursor: pointer;
}
.pocket_form .del img{
	vertical-align:top;
	opacity: 0.7;
}
.pocket_form .del img:hover{
	opacity: 1;
}
.urorder_title {
	margin: 10px 0px;
	font-size: 16px;
	color: #FF6319;
	font-weight: normal;
}
.i-uotil {
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
