<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.customerMapper.CNNMapper">
    <select id="queryAllProduct" resultType="productCustom">
        SELECT
          p.*,
          p.Product_A productA,
          p.Product_B productB,
          p.Product_C productC
        FROM product p
    </select>
</mapper>