<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.customerMapper.OrderListMapper">

    <!--查询订单-->
    <select id="selectOrderList" resultType="orderCustom" parameterType="orderCustom">
        SELECT
          u.UserId,
          o.*,
          g.GainName,
          g.GainMobile,
          g.GainCode,
          g.GainAddress
        FROM user u
          INNER JOIN `order` o ON (u.UserId=o.UserId)
          INNER JOIN gainaddres g ON (o.GainId=g.GainId)
        <where>
            <if test="userid!=null">
                AND u.UserId=#{userid}
            </if>
            <if test="status!=null">
                AND o.Status=#{status}
            </if>
            <if test="conditions!=null">
                OR  o.OrderId LIKE '%${conditions}%'
            </if>
        </where>
        LIMIT #{start},#{count};
    </select>

    <select id="selectOrderDetails" resultType="productCustom" parameterType="integer">
        SELECT
          op.PayPrice,
          op.TotalMoneyCount,
          op.ShoppingCount,
          p.*,
          p.Product_A productA
        FROM orderproduct op
        INNER JOIN product p ON (p.ProductId=op.ProductId)
        WHERE op.OrderId=#{orderid}
    </select>

    <!--查询购物车-->
    <select id="selectShopcarList" parameterType="shopCarCustom" resultType="shopCarCustom">
        SELECT
          p.*,
          p.Product_A productA,
          sc.*,
          s.MarketPrice
        FROM shopcar sc
          INNER JOIN product p ON (sc.ProductId=p.ProductId)
          INNER JOIN stock s ON (s.ProductId=p.ProductId)
        <where>
            <if test="userid!=null">
                AND sc.UserId=#{userid}
            </if>
            <if test="productid!=null">
                AND p.ProductId=#{productid}
            </if>
            <if test="productA!=null">
                AND p.product_A=#{productA}
            </if>
            <if test="producthotsale!=null">
                AND p.ProducthotSale=#{producthotsale}
            </if>
            <if test="productnew!=null">
                AND p.ProductNew=#{productnew}
            </if>
            <if test="conditions!=null">
                OR  sc.orderamount LIKE '%${conditions}%'
                OR  p.ProductName LIKE '%${conditions}%'
            </if>
        </where>
        LIMIT #{start},#{count};
    </select>


    <select id="selectFavoritesList" parameterType="favoritesCustom" resultType="favoritesCustom">
        SELECT
          p.*,
          p.Product_A productA,
          f.UserId,
          s.MarketPrice
        FROM product p
        INNER JOIN favorites f ON (p.ProductId=f.ProductId)
        INNER JOIN stock s ON (s.ProductId=f.ProductId)
        <where>
            <if test="userid!=null">
                AND f.UserId=#{userid}
            </if>
            <if test="productid!=null">
                AND p.ProductId=#{productid}
            </if>
            <if test="productA!=null">
                AND p.product_A=#{productA}
            </if>
            <if test="producthotsale!=null">
                AND p.ProducthotSale=#{producthotsale}
            </if>
            <if test="productnew!=null">
                AND p.ProductNew=#{productnew}
            </if>
            <if test="productdisabled!=null">
                <if test="productdisabled==0">
                    AND p.ProductDisabled=0
                </if>
                <if test="productdisabled!=0">
                    AND p.ProductDisabled>0
                </if>
            </if>
            <if test="conditions!=null">
                OR  sc.orderamount LIKE '%${conditions}%'
                OR  p.ProductName LIKE '%${conditions}%'
            </if>
        </where>
        LIMIT #{start},#{count};
    </select>

    <delete id="deleteShopCarById" parameterType="int">
        DELETE FROM shopcar
        WHERE ShopCarId=#{_parameter}
    </delete>

    <select id="selectShopcarById" resultType="favoritesCustom" parameterType="int">
        SELECT *
        FROM shopcar
        WHERE ShopCarId=#{_parameter}
    </select>

    <insert id="insertShiftToFavorites" parameterType="int">
        INSERT INTO favorites (UserId, ProductId) VALUES (#{userid},#{productid})
    </insert>

    <select id="selectFavoritesById" parameterType="com.xh.po.Favorites" resultType="com.xh.po.Favorites">
        SELECT
        f.*,
        f.Favorites_A favoritesA,
        f.Favorites_B favoritesB,
        f.Favorites_C favoritesC
        FROM favorites f
        WHERE UserId=#{userid} AND ProductId=#{productid}
    </select>

    <delete id="delectFavorites" parameterType="com.xh.po.Favorites">
        DELETE FROM favorites WHERE UserId=#{userid} AND ProductId=#{productid}
    </delete>

    <insert id="insertShiftToCart" parameterType="com.xh.po.vo.ShopCarCustom">
        INSERT INTO shopcar (UserId, ProductId, orderamount, Price) VALUES (#{userid},#{productid},#{orderamount},#{price})
    </insert>

    <select id="queryProductByOrderId" resultType="com.xh.po.vo.ProductCustom" parameterType="int">
        SELECT
          o.OrderId,
          p.*,
          op.PayPrice,
          op.ShoppingCount,
          op.TotalMoneyCount,
          c.Comment,
          c.UserId,
          c.CommentReview,
          c.CommentTime,
          c.GoodComment,
          c.CommentId
        FROM `order` o
        LEFT JOIN comment c ON c.Comment_C=o.OrderId
        INNER JOIN orderproduct op ON op.ProductId=c.ProductId
        INNER JOIN product p ON c.ProductId = p.ProductId
        WHERE o.OrderId=#{id} AND op.OrderId=o.OrderId
        ORDER BY c.Comment,c.CommentTime DESC
    </select>

    <!--Comment_C  是订单id-->
    <update id="updateCommentByids" parameterType="com.xh.po.vo.ProductCustom">
        UPDATE comment SET Comment=#{comment},GoodComment=#{goodcomment},CommentTime=#{commenttime} WHERE CommentId=#{commentid}
    </update>

    <select id="selectCommentByids" parameterType="com.xh.po.vo.ProductCustom" resultType="com.xh.po.vo.ProductCustom">
        SELECT *
        FROM comment
        WHERE CommentId=#{commentid}
    </select>

    <!--改变订单状态-->
    <update id="updataOrderStatusZero" parameterType="int">
        UPDATE `order` SET Status=#{status} WHERE OrderId=#{orderid}
    </update>

    <!--查询对应状态的订单-->
    <select id="selectOrderIdById" parameterType="int" resultType="com.xh.po.Order">
        SELECT
          *
        FROM `order` o
        WHERE
          o.OrderId=#{orderid} AND o.Status=#{status}
    </select>


    <update id="updataRefuseByOrderId" parameterType="order">
        UPDATE `order` SET Order_A=#{orderA},Status=#{status},CloseTime=#{closetime} WHERE OrderId=#{orderid}
    </update>

    <select id="selectRefuseByOrderId" parameterType="string" resultType="com.xh.po.Order">
        SELECT
          *
        FROM `order` o
        WHERE
          o.OrderId=#{orderid} AND o.Order_A=#{liyou}
    </select>


    <select id="queryProductByProductId" parameterType="int" resultType="productCustom">
        SELECT
          p.*,
          p.Product_A productA,
          p.Product_B productB,
          p.Product_C productC
        FROM product p
        WHERE p.ProductId=#{productid}
    </select>

</mapper>