<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mapper.customerMapper.OrderListMapper">

    <select id="selectOrderList" resultType="orderCustom" parameterType="orderCustom">
        SELECT
          u.UserId,
          o.*,
          g.GainName,
          g.GainMobile,
          g.GainCode,
          g.GainAddress
        FROM user u
          INNER JOIN `order` o ON (u.UserId=o.UserId)
          INNER JOIN gainaddres g ON (o.GainId=g.GainId)
        <where>
            <if test="orderid!=null">
                AND u.UserId=#{userid}
            </if>
            <if test="status!=null">
                AND o.Status=#{status}
            </if>
            <if test="conditions!=null">
                OR  o.OrderId LIKE '%${conditions}%'
            </if>
        </where>
        LIMIT #{start},#{count};
    </select>

    <select id="selectOrderDetails" resultType="productCustom" parameterType="integer">
        SELECT
          op.PayPrice,
          op.TotalMoneyCount,
          op.ShoppingCount,
          p.*,
          p.Product_A productA
        FROM orderproduct op
        INNER JOIN product p ON (p.ProductId=op.ProductId)
        WHERE op.OrderId=#{orderid}
    </select>

</mapper>